*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formHolder{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrap{
    width: 90%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.myForm{
    width: 32%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 3px;
}

form h1{
    font-size: 30px;
    font-weight: 900;
}

.myForm p{
    font-size: 14px;
    color:  #4169E1;
    margin-top: 2%;
}

.formInput{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.field{
    width: 80%;
    height: 11%;
    border: 1px solid #4169E1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
}

.fields{
    width: 80%;
    height: 40%;
    border: 1px solid #4169E1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
}

.field::placeholder{
    color:  #4169E1;
}

.fields::placeholder{
    color: #4169E1;
}

.fields:hover{
    border: 1px solid #e18c00;
    cursor: pointer;
    transition: all 1s;
}
.fields:hover::placeholder{
    color: #e18c00;
}

.field:hover{
    border: 1px solid #e18c00;
    color: #e18c00;
    cursor: pointer;
  transition: all 1s;
}

.field:hover::placeholder{
    color: #e18c00;
}


.sendBtn{
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    transform: scale(1);

}

.sendBtn:hover{
    border: 1px solid #e18c00;
    color: #e18c00;
    cursor: pointer;
  transition: all 1s;
}


@media (min-width: 768px) and (max-width: 991px){
    .formWrap{
        width: 100%;
        height: 100%;
    } 

    .myForm{
        width: 80%;
        height: 80%;
        gap: 0;
    }

    .myForm h1{
        font-size: 40px;
        font-weight: 900;
        margin-top: 3%;
    }

    .myForm p{
        font-size: 20px;
        margin-top: 3%;
    }

    .sendBtn{
        width: 45%;
        height: 60px;
        font-size: 20px;
    }
}

@media screen and (width <= 428px){
    .formWrap{
        width: 100%;
        height: 100%;
    } 

    .myForm{
        width: 80%;
        height: 80%;
        gap: 0;
    }

    .myForm h1{
        font-size: 25px;
        font-weight: 900;
        margin-top: 3%;
    }

    .myForm p{
        font-size: 12px;
        margin-top: 3%;
    }

    
}

