* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerHolder {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow-x: hidden;
  /* background-color: red; */
}

.headerHolder.active {
  /* background-color: #040720; */
  background-color: #032f64;
}

.headerHolderWrap {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .headerLogo img {
  width: 30%;
  height: 100%;
  object-fit: contain;
} */
.home img{
  width: 45%;
  height: 100%;
  object-fit: contain;
}
.headerNavs {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogin {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 900;
}
.headerButton {
  width: 40%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4169e1;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transform: scale(1);
  border: none;
}
.headerButton p {
  color: white;
}

.headerButton.active {
  /* background-color: white; */
  color: #4169e1;
}

.contactLink{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButton:hover {
  border: 2px solid #e18c00;
  color: #e18c00;
  background-color: white;
  cursor: pointer;
  transition: all 1s;
}
.headerButton p:hover {
  color: #e18c00;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
}


.nav {
  display: flex;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  color: #4169e1;
  transform: scale(1);
}

.navP {
  color: white;
  /* font-size: ; */
}

.nav p {
  color: #4169e1;
}

.nav.active {
  color: white;
  font-size: 14px;
}

.nav:hover {
  text-decoration: none;
  outline: none;
  color: #e18c00;
  font-weight: bolder;
  transition: all 1s;
}

.nav p:hover {
  text-decoration: none;
  outline: none;
  color: #e18c00;
  font-weight: bolder;
  transition: all 1s;
}

.burger{
  width: 10%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-size: 35px;
}

@media (min-width: 768px) and (max-width: 991px) {

  .burger {
    display: none;
  }
  
  .headerNavs{
    display: flex;;
  }

  .headerHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    height: 7vh;
    overflow-x: hiddenn;
    align-items: center;
  }

  .headerHolderWrap{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.headerLogo {
    width: 50%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home img{
    width: 80%;
    height: 100%;
    object-fit: contain;
  }

  .headerNavs {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
  }
  
  .nav p{
    font-size: 21px;
    font-weight: 900;
  }

  .headerLogin{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
}

.headerButton {
  width: 35%;
  height: 43px;
  background-color: #4169e1;
  border-radius: 5px;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
  color: white;
  cursor: pointer;
  transform: scale(1);
  border: none;
}
.header-button{
  font-size: 17px;
  font-weight: 900;
}

.menu-icons{
  font-size: 40px;
}


}

@media (min-width: 376px) and (max-width: 428px) {
  .burger {
    display: flex;
    color: #4169e0;
  
  }
  
  .headerNavs{
    display: none;
  }

  .headerHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    height: 8vh;
    overflow-x: hidden;
  }

  .headerHolderWrap{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.headerLogo {
    width: 35%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home img{
    width: 60%;
    height: 100%;
    object-fit: contain;
  }

  .headerLogin{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
}

.headerButton {
  width: 35%;
  height: 38px;
  background-color: #4169e1;
  border-radius: 5px;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
  color: white;
  cursor: pointer;
  transform: scale(1);
  border: none;
}
.header-button{
  font-size: 17px;
  font-weight: 900;
}

.menu-icons{
  font-size: 40px;
}


}
@media screen and (width <= 375px) {
  .burger {
    display: flex;
    color: #4169e0;
  
  }
  
  .headerNavs{
    display: none;
  }

  .headerHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    height: 8vh;
    overflow-x: hidden;
  }

  .headerHolderWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.headerLogo {
    width: 30%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home img{
    width: 42%;
    height: 100%;
    object-fit: contain;
  }

  .headerLogin{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
}

.headerButton {
  width: 35%;
  height: 30px;
  background-color: #4169e1;
  border-radius: 5px;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
  color: white;
  cursor: pointer;
  transform: scale(1);
  border: none;
}
}















